*{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.space{
    margin-bottom: 7%;
}
h1, h2{
    color: #ff6b28;
}

header{
    padding: 15px;
    background-color: #ff6b28;
    text-align: center;
}
#logo{
    width: 170px;
}

#Bolo-Img{
    height: 400px;
    background-image: url('./assets/hero_bolo.jpg');
    background-size: cover;
    /* tentar escrever em shorthand o background */
}

main{
    width: 70%;
    margin: 5% auto;
}

h1{
    font-weight: 900;
    margin-bottom: 10%;
}

h2{
    margin-bottom: 30px;
}

.shadow{
    padding: 30px 20px;
}
.shadow:hover{
    box-shadow: 0 0 10px grey;
    border-radius: 10px;
}

ul, ol{
    margin: 30px 35px;
}
li,p{
    font-weight: 700;
    margin-bottom: 1em;
}

#buy{
    background-color: #ff6b28;
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 700;
}
#buy:hover{
    cursor: url('./assets/cursor_ingredientes.png'), pointer; 
    padding: 12px;
}

#ing:hover{
    cursor: url('./assets/cursor_ingredientes.png'), pointer;
}
#prep:hover{
    cursor: url('./assets/cursor_preparo.png'), pointer;   
}
#ins:hover{
    cursor: url('./assets/cursor_intrucoes.png'), pointer; 
}